#include <dt-bindings/zmk/matrix_transform.h>
#include "palindrome-layout.dtsi"

/ {
    physical_layout1: physical_layout_1 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout 1";
        transform = <&default_transform>;
    };
};

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,physical-layout = &physical_layout1;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};
